---
title: id source verification
status: done
type: feature
tags: []
created: 2026-05-21T12:53:09+02:00
updated: 2026-05-21T16:25:28.614746554+02:00
---

architect: verify that all the system uses the same source of id - either filename or yaml frontmatter. If not - prepare report on discrepancies and propose solution.
